<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Items</h1>
    <%= link_to 'New item', new_item_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to 'Update quality', item_quality_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table id="items" class="min-w-full table-auto">
    <thead>
      <tr>
        <th class="text-left">Name</th>
        <th class="text-right">Sell In</th>
        <th class="text-right">Quality</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @items %>
    </tbody>
  </table>
</div>
